.btn {
    font-size: 1.0rem;
    font-weight: 700;
    padding: 0.5em, 1em;
    color: white;
    background-color: black;
    border: 5px solid rgb(43, 42, 42);
    border-radius: 2px;
    position: relative;
    bottom: 60px;
    left: 135px;
    width: 150px;
    height: 10px;
    padding-bottom: 30px;
    outline: none;
}

.btn:hover {
    background-color: rgb(43, 42, 42);
    outline: none;
}

.project-box {
    display: flex;
    flex-direction:column;
    padding: 5px;
    transition: transform 0.3s, border-radius 0.3s;
}

.project-box:hover {
    transform: translateY(-5px);
    border-radius: 0em;
  }

.project-pane {
    background-color: black;
    display: absolute;
    width: 300px;
    height: 200px;
}

.project-title {
    top: 185px;
    position: absolute;
}

.project-description {
    opacity: 50%;
    font-size: 16px;
    position: relative;
    bottom: -20px;    
}

.btn-link {
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    color: white;
    size-adjust: 100px;
    background-color: transparent;
    width: 86%;
    display: block;
    padding: 10px;
}

.project-showcase {
    opacity: 60%;
    top: 335px;
    position: absolute;
    width: 70px;
    height: 70px;
}

.project-showcase:hover {
    opacity: 90%;
}

.technologies-used-text {
    font-family:'Courier New', Courier, monospace;
    opacity: 80%;
    position: absolute;
    right: 130px;
    bottom: 100px;
}