.btn  {
    align-items: center;
    background-color: #ffffff10;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    top: -60px;
    width: 100px;
    right: -190px;
}

.btn,
.btn  {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: white;
}

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    background-color: #ffffff1a;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.btn:hover {
    background-color: #ffffff2a;
    opacity: 1;
}



.project-box {
    display: flex;
    flex-direction: column;
    padding: 5px;
    transition: transform 0.3s, border-radius 0.3s;
}

.project-box:hover {
    transform: translateY(-5px);
    border-radius: 0em;
  }

.project-pane {
    background-color: black;
    display: absolute;
    width: 300px;
    height: 200px;
}

.project-title {
    top: -20px;
    position: relative;
}

.project-description {
    opacity: 50%;
    font-size: 16px;
    position: relative;
    bottom: -20px;    
}

.btn-link {
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    color: white;
    size-adjust: 100px;
    background-color: transparent;
    width: 86%;
    display: block;
    padding: 10px;
}

.project-showcase {
    opacity: 60%;
    top: -120px;
    position: relative;
    width: 70px;
    height: 70px;
}

.project-showcase:hover {
    opacity: 90%;
}

//Phone Support
@media only screen and (max-width: 700px) {
    .btn {
        left: 75px;
        width: 70px;
    }
    
    .project-pane {
        width: 150px;
        height: 100px;
    }
    
    .project-showcase {
        top: -85px;
        width: 40px;
        height: 40px;
    }

    .project-image {
        width: 150px;
        height: 100px;
    }
}