.skill-div  {
  align-items: center;
  background-color: #0000001a;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: 15px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  height: 100px;
  width: 100px;
  top: -300px;
  right: -1150px;
  margin: 5px;
}

.skill-div,
.skill-div  {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.skill-div:hover {
  background-color: #000000;
  transform: translateY(-5px);
}

.skill-div:active {
  background-color: #ffffff1a;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.skill-div:hover {
    opacity: 1;
}

.skill-image {
  width: 100%;
  height: 100%;
  position: center;
}

@media only screen and (max-width: 700px) {
  .skill-div {
    height: 75px;
    width: 75px;
  }
}