.text-zone {
    position: absolute;
    left: 100px;
    top: 50px;
}

.flat-button {
    border-radius: 5px;
    color: maroon;
    opacity: 0.6;
    font-size: 16px;
    top: 400px;
    left: 100px;
    position: absolute;

}

.flat-button:hover {
    border-radius: 5px;
    opacity: 1;
}

.top-tags {
    top: 0px;
    left: 0px;
}

.bottom-tags {
    top: 500px;
    left: 20px;
}

.main-text {
}