.text-zone {
    position: absolute;
    left: 100px;
    top: 50px;
}

.flat-button  {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  right: -100px;
}

.flat-button,
.flat-button  {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.flat-button:hover {
  transform: translateY(-5px);
}

.flat-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.flat-button:hover {
    opacity: 1;
}

.top-tags {
    top: 0px;
    left: 0px;
}

.bottom-tags {
    top: 500px;
    left: 20px;
}

.main-home-skill-div {
  display: flex;
}

.home-skill-div {
  display: inline-block;
  top: 100px;
  right: -100px;
}

.home-skill-div-text {
  position: absolute;
  display: inline-block;
  top: 50px;
  left: 1160px;
}

.skill-text {
  float: left;
  position: absolute;
  right: 150px;
  top: 320px;
  flex: 1;
  width: 30%;
}

//Phone Support
@media only screen and (max-width: 700px) {
  .flat-button  {
    top: 350px;
    right: -100px;
  }

  .bottom-tags {
    top: 700px;
    left: 20px;
  }

  .main-text {
    font-size: 38px;
  }

  .main-text-desc {
    font-size: 22px;
  }

  .skill-text {
    right: -1205px;
    top: -200px;
    font-size: 18px;
    opacity: 80%;
    min-width: 100px;
  }

  .home-skill-div {
    position: relative;
    display: inline-block;
    top: 300px;
    left: -1175px;
    max-width: 50px;
  }
  
  .home-skill-div-text {
    position: relative;
    display: inline-block;
    top: -50px;
    left: 80px;
    opacity: 25%;
  }

}