.circle {
    display: inline-block;
    margin: 50px;
    height: 150px;
    width: 150px;
    opacity: 35%;
    color: #bbb;
    background-color: #bbb;
    border-radius: 50%;
    transition: transform 0.3s, border-radius 0.3s;
}

.circle:hover {
    opacity: 75%;
    transform: translateY(-10px);
}

.circle-text-main {
    text-align: center;
    font-size: 18px;
    bottom: -30px;
    position: relative;
}

.circle-text-main:hover {
    opacity: 100%;
}

.circle-image {
    display: block;
    margin-left: 30px;
    height: 85px;
    top: 50%;
    margin-top: 35px;
    width:90px;
}

@media only screen and (max-width: 700px) {
    .circle {
        height: 125px;
        width: 125px;
        margin: 30px;
    }

    .circle-image {
        margin-left: 30px;
        height: 60px;
        top: 50%;
        margin-top: 35px;
        width: 65px;
    }

    .circle:hover {
        opacity: 75%;
        transform: translateY(-5px);
    }
}